{% extends "portfolio/base.html" %}
{% block content %}
<div class="container-wrapper">
<div class="container">
  <h1>About Me</h1>
  <p>I have been actively working since the age of 17, which has instilled in me a strong sense of responsibility, duty, and diligence.</p>
  <p>Recently, I completed a Data Science course at Vilnius Coding School, equipping me with essential skills in Python, data manipulation, SQL, and machine learning.</p>
  <h2>Experience</h2>
  <ul>
    <li>Head of Lithuania at Zevoy Aktiebolag</li>
    <li>Business Development Manager at Sport Benefit, UAB</li>
    <li>Founder of DADMADE</li>
    <li>Expedition Manager at Sytan, UAB</li>
    <li>Real-estate Broker at Investiciniai verslo sprendimai, UAB</li>
  </ul>
  <h2>Skills</h2>
  <ul>
    <li>Programming: Python, SQL, HTML</li>
    <li>Data Analysis: Pandas, Machine Learning, Deep Learning, Matplotlib</li>
    <li>Web Development: Flask, Data Scraping, Django</li>
    <li>Other Tools: MS Office, HubSpot CRM</li>
  </ul>
  <h2>Connect with Me</h2>
  <p>Email: miroslav.adamaic@gmail.com</p>
  <p>LinkedIn: <a href="https://www.linkedin.com/in/miroslav-adamaic-694274251/" target="_blank">Miroslav Adamaic</a></p>
</div>
</div>
{% endblock %}
