{% extends "portfolio/base.html" %}
{% block content %}
    {% load static %}
<div class="container-wrapper">
<div class="container">
<h1>Certificates</h1>
<p>I aim to foster an environment where learning becomes an ongoing habit.</p>
    <p>I am always very keen on learning new and more. In my opinion every way of learning is extremely important:</p>
    <ul>
    <li>You can learn from your mistakes</li>
    <li>You can learn from you experience</li>
    <li>You can learn from your colleagues and team-mates</li>
    <li>You can learn while reading books</li>
    <li>you can learn from different courses</li>
    </ul>
<p>Best way is to combine all of these practices - this is my goal.</p>
<p>I can learn fast directly on site. I like to find information on my own. I like to understand things and 
    principles. If I have opportuniteis, I am always keen on attending different courses. My latest examples are:</p>
    <ul>
        <li>"Project Management" by OxforHomeStudy</li>
        <li>"AI tools for everyone" by WoW University</li>
    </ul>
<p>Below you can find also some of the curses with certificates, I have completed recently:</p>
<div class="gallery">
    <a href="{% static 'images/Django_cert.png' %}" class="certificate-link" data-lightbox="certificate">
        <img src="{% static 'images/Django_cert.png' %}" alt="Certificate 1" class="certificate-img">
    </a>
    <a href="{% static 'images/VCS_Data_Science.png' %}" class="certificate-link" data-lightbox="certificate">
        <img src="{% static 'images/VCS_Data_Science.png' %}" alt="Certificate 2" class="certificate-img">
    </a>
</div>
</div>
</div>
{% endblock %}
