{% extends "portfolio/base.html" %}
{% block content %}
{% load static %}
    <div class="container-wrapper">
    <div class="container">
        <h1>Dear future employer!</h1>
        <br>
        <br>
        <h3>Let me clarify, why you should hire me.</h3>
        <br>
        <p>First, I am a very universal person. I have a wide field of interest, which combined with my
        natural curiosity, the ability to learn and adopt ensures that I find it easy to skill up in a new environment.</p>
        <p>During my career, I have tried quite a lot of positions and professions, so I can say bravely that if you 
        have enough motivation - you can master everything. No matter in which position did I work, I have successfully 
        managed to gain expertise in client and team relations, I become a true expert of processes and a library of
            knowledge.</p>
        <p>I was very successful in the logistics field. Clients believed in me, and I made sure they are truly 
        happy with the services they got from me. Partners respected me, because I developed good and strong relations with 
        them. The Team always knew that if someone needs help, I was eager to assist in any task (no matter, if this was 
        proces explaining course, or setting up a new printer on their PC. Accountants were happy because my document 
        management was on top, and I delivered everything in the right order always on-time</p>
        <p>As a business development manager, I gained completely different experience. It was my turn, to search for clients,
        to drive partnerships and to set everything up for a successful business. But again, motivation to do everything
        right was the reason, why employer was happy with me and my effort.</p>
        <p>In my last position, at Finnish FinTech SaaS company Zevoy - I learned even more. I mean not only active sales, 
        modern B2B communication, negotiation, customer support, CRM management but also working in a multicultural 
        company, Agile environment and some beauty of a Tech field. This was the last motivator for me to decide, that 
        I want to gain more knowledge, and become a part of developing stuff. This is when I started my transition to IT.</p>
        <h3>Conclusion</h3>
        <p>If you are looking for a person, whose goal is to be best in a team, who is willing to gain results based on 
        hard work, good time management, good relations with every type of personalities, precision, analytic mindset 
        and willingness to grow - we definitely should have a chat. </p>
        <p>My main focus is to make things done, to be an important part of the organization and to help in making 
        significant changes. </p>
        <br>
        <h4>Does your organization have thing to be done?</h4>
        <h4>You know, what to do then :)</h4>
        <br>
        <p>If you have managed to read everything up to this moment - thank you very much for your attention!</p>
        <p>Have a wonderfull day!</p>
        <br>
        <p>Sincerely, Miroslav</p>
        
    </div>
    </div>
{% endblock %}