{% extends "portfolio/base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<div class="fields-container">
    <div class="field">Data Science</div>
    <div class="field">Machine Learning</div>
    <div class="field">Artificial Intelligence</div>
    <div class="field">Web Development</div>
    <div class="field">Big Data</div>
    <div class="field">Natural Language Processing</div>
    <div class="field">Deep Learning</div>
    <div class="field">Computer Vision</div>
    <div class="field">Python Engineer</div>
    <div class="field">Data Engineering</div>
    <div class="field">Data Analytics</div>
    <div class="field">Project Management</div>
    <div class="field">Product Owner</div>
    <div class="field">FinTech</div>
    <div class="field">Developer</div>
    <div class="field">Software Development</div>
    <div class="field">Programming</div>
    <div class="field">Finance</div>
    <div class="field">SaaS</div>
    <div class="field">Analytic Engineer</div>
    <div class="field">Green Energy</div>
</div>

<script src="{% static 'text_appear.js' %}"></script>
{% endblock %}