{% extends "portfolio/base.html" %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <div id="typewriter">
        <h1 class="display-4 typewriter-text">Welcome to My Portfolio.</h1>
        <br>
        <p class="lead typewriter-text">Hi, I'm Miroslav Adamaic. I am a keen learner transitioning into Data Science and IT.</p>
        <hr class="my-4">
        <p class="typewriter-text">Here you'll find information about my experience and skills.</p>
    </div>

   <script>
    document.addEventListener('DOMContentLoaded', function() {
        var elements = document.querySelectorAll('.typewriter-text');
        elements.forEach(function(el) {
            var text = el.textContent.trim(); // Get the text content
            el.textContent = ''; // Clear the element's content

            var cursor = document.createElement('span');
            cursor.className = 'cursor'; // Apply CSS class for the cursor
            cursor.textContent = '|'; // Cursor symbol

            el.appendChild(cursor);

            var index = 0;
            var lines = text.split('\n');
            var currentLine = 0;
            var typeSpeed = 100; // Adjust speed as needed

            function typeLine() {
                var line = lines[currentLine];
                if (index <= line.length) {
                    el.textContent = lines.slice(0, currentLine).join('\n') + line.substring(0, index);
                    el.appendChild(cursor);
                    index++;
                    setTimeout(typeLine, typeSpeed);
                } else {
                    el.textContent = lines.slice(0, currentLine + 1).join('\n'); // Display full line
                    el.appendChild(cursor);
                    el.appendChild(document.createElement('br')); // Add line break
                    currentLine++;
                    index = 0;
                    if (currentLine < lines.length) {
                        setTimeout(typeLine, typeSpeed); // Type next line
                    } else {
                        cursor.style.display = 'none'; // Hide cursor when typing is complete
                    }
                }
            }

            // Start typing animation
            typeLine();
        });
    });
</script>


{% endblock %}
